* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: cursive;
    /*
    background-color: lightblue;
    margin:25px;*/
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
/* NAVBAR ESTILO */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: teal;
    color: #fff;
}
.nav-links a {
    color: #fff;
}
/* LOGO */
.logo {
    font-size: 32px;
}
/* NAVBAR MENU */
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}
.menu li:hover {
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
}
.menu li {
    padding: 5px 14px;
}
/* MENU SUSPENSO */
.services {
    position: relative; 
}
.dropdown {
    background-color: rgb(1, 139, 139);
    padding: 1em 0;
    position: absolute; /*COM RELAÇÃO AOS PAIS*/
    display: none;
    border-radius: 8px;
    top: 35px;
}
.dropdown li + li {
    margin-top: 10px;
}
.dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
}
.dropdown li:hover {
    background-color: #4c9e9e;
}
.services:hover .dropdown {
    display: block;
}
/* NAVBAR MENU RESPONSIVA*/
/* CHECKBOX HACK */
input[type=checkbox]{
    display: none;
} 
/*HAMBURGER MENU*/
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}
/* APLICAÇÃO MEDIA QUERIES */
@media (max-width: 768px) {
.menu { 
    display:none;
    position: absolute;
    background-color:teal;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
}
.menu li:hover {
    display: inline-block;
    background-color:#4c9e9e;
    transition: 0.3s ease;
}
.menu li + li {
    margin-top: 12px;
}
input[type=checkbox]:checked ~ .menu{
    display: block;
}
.hamburger {
    display: block;
}
.dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
}
.dropdown li:hover {
    background-color: #4c9e9e;
}
}
footer {
    text-align: center;
    padding: 3px;
    background-color: darkblue;
    color: white;
}


div.polaroid {
    width: 15rem;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}

.consultora {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

div.container {
    text-align: center;
    padding: 10px 20px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

h1 {font-variant-east-asian: 'verdana';
    color:darkred;
    font-size:50px;
    font-style: italic;
    text-align: center;
}

p{
    text-align: center;
    font-family:'arial';
    color:darkslateblue;
    font-size:24px;
}

h2{
    font-family:'arial';
    color:darkblue;
    font-size:27px;
    text-align:center;
}

h5{
    font-family:'verdana';
    color:gray;
    font-size: 18px;
    text-align:center;
}

h6{
    font-variant-east-asian:'verdana';
    color:darkred; 
    font-size: 40px;
    font-style: italic;
    text-align:center;
}

h7{
    font-family:'arial';
    color:darkblue;
    font-size:27px;
    text-align:left;
}

h8{
    font-family:'arial';
    color:darkred;
    font-size: 20px;
    text-align:center;
} 
